---
import { spotify } from '~data/layout.json'
import logo from '~svg/spotify.svg?raw'
import { parse } from 'node-html-parser'

const { year } = Astro.props

const { name, image, owner, url } = spotify['_' + year]

const alt = `Artwork for my ${year} playlist.`

const size = 80

const imageProps = {
  height: size,
  width: size,
  src: image,
  alt,
}
---

<header>
  <img {...imageProps} />
  <div class="wrap-details">
    <div class="details">
      <div class="wrap-name">
        <a href={url} class="name">{name}</a>
      </div>
      <div class="wrap-owner">
        <a href={owner.url} class="owner">{owner.name}</a>
      </div>
    </div>
    <div class="wrap-logo">
      <div class="logo">{parse(logo)}</div>
    </div>
  </div>
</header>

<style lang="scss">
  @import '~styles/mixins';

  header {
    grid-template-columns: 5rem auto;
    background-color: #222b1b;
    display: grid;
  }

  .wrap-details {
    grid-template-columns: auto 2.25rem;
    padding-left: 0.3125rem;
    padding-top: 0.3125rem;
    display: grid;
  }

  .logo {
    margin-right: 0.75rem;
    margin-top: 0.4375rem;
  }

  .wrap-name {
    font-size: 0;
  }

  .wrap-owner {
    font-size: 0;
  }

  .name,
  .owner {
    @include track_name;
  }
</style>
