---
import { parse } from 'node-html-parser'
import remove_markdown from 'remove-markdown'

import Layout from '~layouts/Main.astro'
import Content from '~components/Content.astro'
import Page from '~components/Page.astro'
import Row from '~components/Page/Row.astro'
import Biography from '~markdown/biography.md'
import Card from '~components/Page/Card.astro'

import description from '~markdown/biography.md?raw'

import seo from '~data/seo.js'
import details from '~data/personal.js'
import { create } from '~scripts/helpers'
import { projects } from '~data/layout.json'
import { roles, education } from '~data/resume.json'

const layoutProps = {
  title: seo.title('Resume'),
  description: remove_markdown(description),
}

const paul = new create.person(details)

const mode = 'triple'
const controls = true
const defaults = { mode, controls }

const projectProps = {
  title: 'Projects',
  ...defaults,
}

const rolesProps = {
  title: 'Roles',
  ...defaults,
}

const learningProps = {
  title: 'Learning',
  ...defaults,
}
---

<script src="/src/scripts/pages/resume.js"></script>

<Layout {...layoutProps}>
  <Content>
    <Page>
      <Row mode="double">
        <div class="name">{paul.name}</div>
        <div>
          <div>{paul.location}</div>
          <div>{parse(paul.email.link)}</div>
        </div>
      </Row>
      <Row mode="double">
        <div>
          <div class="title">Biography</div>
          <div class="copy">
            <Biography />
          </div>
        </div>
        <div>{paul.platforms.map(({ link }) => <div>{parse(link)}</div>)}</div>
      </Row>
      <Row {...projectProps}>
        {projects.map((card, index) => <Card card={card} index={index} />)}
      </Row>
      <Row {...rolesProps}>
        {roles.map((card, index) => <Card card={card} index={index} />)}
      </Row>
      <Row {...learningProps}>
        {education.map((card, index) => <Card card={card} index={index} />)}
      </Row>
    </Page>
  </Content>
</Layout>

<style lang="scss">
  @import '~styles/mixins';

  .name {
    font-size: $h1-font-size;

    @include medium-down {
      margin-bottom: $padding-row;
      line-height: 1.3;
    }
  }

  .title {
    font-size: $h3-font-size;
    margin-bottom: 1rem;
  }

  .copy {
    font-weight: normal;
  }
</style>
